body {
	background-color: #dfb9ff;
}
img,
video {
	max-width: 100%;
	height: auto;
}
/**********Font Family**********/
h1 {
	font-family:
		Jazz LET, fantasy
		monospace;
}
h2 {font-family:Didot, serif}

/********Font size*********/
html {
	font-size: 100%;
	text-align: center;
}
p {
	font-size: medium;
}
figcaption {
	font-size: medium;
}
figure{text-align: center}
footer {
	font-size: smaller;
}
/****font color*****/
h1 {
	color: #4d43ba;
}
header {color: #c3053f}
a {
	color: rgb(255, 255, 255);
}
h2 {color:#ad1745 }

nav ul {
	list-style: none;
	padding: 0;
	margin: 0;
	background-color: #db94ec;
}
nav li {
	display: inline-block;
	margin-right: 20px;
}

.site-title {
	font-size: x-large;
	background-color: #db94ec;
}
